* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-secondary: "Staatliches", sans-serif;
  --ff-primary: "Poppins", sans-serif;
  --fc-primary: #4e4958;
}

body {
  background: #bfd7e4;
}

body::before {
  content: "";
  width: 100%;
  height: 465px;
  background: #293241;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: 0 auto;
  padding-top: 107px;
}

h1,
.top,
legend,
button {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
}

label {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--fc-primary);
  font-weight: 400;
  line-height: 24px;
}

label span {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

label span:hover {
  color: #c1bccc;
}

header {
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  color: #fff;
}

header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;

  margin-bottom: 20px;
}

.top {
  background: #f67669;
  height: 133px;
  border-radius: 20px 20px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Staatliches;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 34px;

  margin-top: 32px;
}

form {
  background: #fff;
  padding: 29px 64px 64px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

legend {
  color: #253b51;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-wrapper input,
select,
textarea {
  height: 55px;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  padding-left: 10px;
  border-radius: 8px;

  font-family: var(--ff-primary);
  font-size: 18px;
}

.input-wrapper label {
  margin-bottom: 8px;
}

.input-wrapper textarea {
  min-height: 160px;
}

select {
  appearance: none;
}

textarea {
  padding-top: 10px;
  resize: none;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkbox-wrapper label::before {
  content: "";
  height: 24px;
  width: 24px;
  display: block;

  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:focus + label::before {
  outline: 3px solid black;
}

.checkbox-wrapper input:checked + label::before {
  background: var(--fc-primary);
}

.col-3 {
  display: flex;
  gap: 10px;
}

.col-3 > div:nth-child(1) {
  margin-right: 22px;
}

.col-3 > div:nth-child(2),
.col-3 > div:nth-child(3) {
  width: 140px;
}

footer {
  display: flex;
  flex-direction: column;

  margin-top: 62px;
}

button {
  border: none;
  border-radius: 8px;
  background: #f67669;
  color: #fff;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}

button:hover {
  background: #ff4c38;
}

input:invalid {
  border: 1px solid red;
}
